﻿<h1>Pokemones Capturados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id Pokemon</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.Capturas)
        {
        <tr>
            <td>@item.Id</td>
            <td>
                <img src="@item.Pokemons.Imagen" width="100" alt="Alternate Text" />
            </td>
            <td>@item.Pokemons.Nombre</td>
            <td>@item.tipoPokemon.TipoPokemons</td>
            <td>@item.Fecha</td>

            <td>
                @if (User.Identity.IsAuthenticated)
                {
                <form action="/capturar/delete?id=@item.Id" method="post">
                    <button class="btn btn-primary">Liberar</button>
                </form>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
