﻿
<h2>Registrar Pokemon</h2>


@*<form action="/pokemon/create" method="post">
    <input type="text" name="Nombre" value="" />
    <button class="btn btn-primary">Guardar</button>
</form>*@

<form action="/pokemon/create" enctype="multipart/form-data" method="post">


    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" autocomplete="off" />
        @Html.ValidationMessage("Nombre")
    </div>

    <div class="form-group">
        <label class="control-label">Tipo Pokemon</label>
        <select name="IdTipo" class="form-control">
            <option value="">-- Selecciona Tipo de Pokemon --</option>
            @foreach (var item in ViewBag.Tipos)
            {
                if (item.Id == Model.IdTipo)
                {
                    <option selected value="@item.Id">@item.TipoPokemons</option>
                }
                else
                {
                    <option value="@item.Id">@item.TipoPokemons</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="file" name="files" multiple accept=".jpg,.png" />
    </div>

    <button class="btn btn-primary">Guadar</button>

</form>