﻿<a href="/auth/index">Iniciar Sesión</a>

<h1>Pokemones</h1>
<form class="form-inline">
    <input class="form-control mr-sm-2 my-sm-0" type="search" placeholder="Buscar" name="search" value="@ViewBag.Buscar">
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.pokemones)
        {
            <tr>
                <td>
                    <img src="@item.Imagen" width="100" alt="Alternate Text" />
                </td>
                <td>@item.Nombre</td>
                <td>@item.TipoPokemon.TipoPokemons</td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <form action="/capturar/capturar?IdPokemon=@item.Id&&IdTipo=@item.IdTipo" method="post">
                        <button class="btn btn-primary">Capturar</button>
                    </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>