﻿

<div class="justify-content-xl-center text-center">
    <h1>Iniciar Sesión</h1>
    <form action="/auth/login" method="post">
        @if (TempData["AuthMessage"] != null)
        {
            <p id="AuthMessage">@TempData["AuthMessage"]</p>
        }
        <div class="pb-2">
            <input type="text" name="username" placeholder="Usuario" />
        </div>
        <div class="pb-2">
            <input type="password" name="password" placeholder="Contraseña" />
        </div>
        <div>
            <button class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </form>    
</div>